In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_datareader as web
import datetime
%matplotlib inline

In [14]:
#Adjusting imports to update
%load_ext autoreload
#aways auto reload everything
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# 1- Creating a module

In [4]:
# create a test_01.py file
message_01 = "hello world"
message_02 = "hello!"

# 2- Importing a module

In [9]:
import test_01 as m

# 3-  Calling variables

In [8]:
m.message_01

'hello world'

In [12]:
m2 = m.message_02
m2

'hello!'

# 4- Creating the risk kit

In [16]:
# add this code and make the changes to the risk_kit.py file
def drawdown(return_series):
    """
    
    input: time series of asset pct returns
    output: (dataframe of returns , previous peaks, percent drawdowns)
    """
    wealth_index = 100*(1+return_series).cumprod()
    previous_peaks = wealth_index.cummax()
    drawdowns = (wealth_index-previous_peaks)/previous_peaks
    return pd.DataFrame({
        "Wealth":wealth_index,
        "Peaks":previous_peaks,
        "Drawdowns": drawdowns
    })

In [18]:
def get_ffme_returns():
    """
    Load the Fama-French Dataset for the returns of the Top and Bottom Deciles by Market Cap
    """
    
    returns = pd.read_csv('./Data/Portfolios_Formed_on_ME_monthly_EW.csv', header=0, index_col=0, parse_dates= True, na_values = -99.99)
    returns = returns[['Lo 10', 'Hi 10']]
    returns.columns=['SmallCap', 'LargeCap']
    returns = returns/100
    returns.index = pd.to_datetime(returns.index, format="%Y%m").to_period('M')
    
    return returns

In [19]:
import risk_kit as erk

In [21]:
returns = erk.get_ffme_returns()

In [22]:
returns

         SmallCap  LargeCap
1926-07   -0.0145    0.0329
1926-08    0.0512    0.0370
1926-09    0.0093    0.0067
1926-10   -0.0484   -0.0243
1926-11   -0.0078    0.0270
...           ...       ...
2018-08    0.0241    0.0234
2018-09   -0.0168    0.0087
2018-10   -0.1002   -0.0657
2018-11   -0.0365    0.0253
2018-12   -0.1531   -0.0890

[1110 rows x 2 columns]